.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("https://img.freepik.com/photos-gratuite/fond-restaurant-flou-boutique-interieur_1203-4031.jpg?size=626&ext=jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.homePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.homePage .titleWild{
  margin-top: 100px;
  padding-bottom: 10px;
  font-size: 56px;
  color: rgb(255, 247, 247);
  border-bottom: 6px solid lightcoral;
  width: 60%;
  text-align: center;
  text-shadow: 2px 2px lightcoral;
}

.homePage .titleWild span{
  color: lightcoral;
}

.homePage .titleh2{
  font-size: 34px;
  color: rgb(255, 247, 247);
  text-shadow: 1px 1px lightcoral;
}

.homePage .legend{
  color: rgb(255, 247, 247);
  background-color: lightcoral;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 45px;
  border: 2px solid lightcoral;
}

.homePage .legend:hover{
  cursor: pointer;
}

.homePage .legend:target{

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}